img#logo {
  height: 50px !important; }

.booksCollection {
  text-transform: capitalize;
  font-size: 14px;
  margin: 15px; }

.collapsible-header {
  background-color: #f44336 !important;
  color: white;
  border-radius: 10px; }

.collapsible-body {
  background-color: #607d8b !important;
  color: white;
  border-radius: 10px; }

ul#nav-mobile {
  background-color: black !important; }
  ul#nav-mobile a {
    color: white; }
  ul#nav-mobile i {
    color: white; }

#submitBtn {
  margin: 10px; }

#deleteBtn {
  margin: 10px; }

.collapsible-body {
  /*background-color: rgb(153, 204, 0);*/ }

div.nav-wrapper {
  background-color: #99cc33; }

.loginContainer {
  background-image: url("./images/bib.jpeg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }

.loginFormContainer {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  width: 70vw; }

div.stepperButtons {
  text-align: center; }

div.sort {
  display: flex !important; }
  div.sort label.active {
    color: white; }
  div.sort div.searchBooks .searchBtn {
    width: 20%; }

.books {
  display: flex; }
  .books ul.collapsible {
    width: 100%; }

#checkDocumentContainer,
#checkUserInfosContainer {
  background-color: #99cc33;
  color: white;
  padding: 50px;
  text-transform: capitalize;
  margin: 1em;
  border-radius: 5px; }
  #checkDocumentContainer #checkDocumentElement,
  #checkDocumentContainer .checkUserInfosElement,
  #checkUserInfosContainer #checkDocumentElement,
  #checkUserInfosContainer .checkUserInfosElement {
    margin-top: 1em;
    background-color: white;
    color: #616161;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 5px; }

.orderContainer {
  margin: 1em; }
  .orderContainer .collection-item {
    background-color: #4caf50;
    color: white;
    margin-top: 1em;
    border-radius: 5px;
    text-transform: capitalize; }
    .orderContainer .collection-item i.material-icons {
      color: white; }

#lastStepContainer {
  background-color: #f44336;
  color: white;
  height: 100vh;
  text-align: center;
  padding: 20%; }
  #lastStepContainer .chip {
    font-size: 15px; }

.orderState {
  background-color: white;
  color: #616161;
  padding: 10%;
  margin: 2%;
  border-radius: 5px; }

.checkOrderStateContainer {
  background-color: #616161;
  padding: 10%;
  color: white;
  text-transform: capitalize; }
  .checkOrderStateContainer form {
    margin-top: 5px !important; }

.sampleContainer {
  margin-top: 250px; }

.loader {
  position: relative;
  width: 44px;
  height: 8px;
  margin: 12px auto; }

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #ccc;
  position: absolute; }

.dot_1 {
  animation: animateDot1 1.5s linear infinite;
  left: 12px;
  background: #e579b8; }

.dot_2 {
  animation: animateDot2 1.5s linear infinite;
  animation-delay: 0.5s;
  left: 24px; }

.dot_3 {
  animation: animateDot3 1.5s linear infinite;
  left: 12px; }

.dot_4 {
  animation: animateDot4 1.5s linear infinite;
  animation-delay: 0.5s;
  left: 24px; }

@keyframes animateDot1 {
  0% {
    transform: rotate(0deg) translateX(-12px); }
  25% {
    transform: rotate(180deg) translateX(-12px); }
  75% {
    transform: rotate(180deg) translateX(-12px); }
  100% {
    transform: rotate(360deg) translateX(-12px); } }

@keyframes animateDot2 {
  0% {
    transform: rotate(0deg) translateX(-12px); }
  25% {
    transform: rotate(-180deg) translateX(-12px); }
  75% {
    transform: rotate(-180deg) translateX(-12px); }
  100% {
    transform: rotate(-360deg) translateX(-12px); } }

@keyframes animateDot3 {
  0% {
    transform: rotate(0deg) translateX(12px); }
  25% {
    transform: rotate(180deg) translateX(12px); }
  75% {
    transform: rotate(180deg) translateX(12px); }
  100% {
    transform: rotate(360deg) translateX(12px); } }

@keyframes animateDot4 {
  0% {
    transform: rotate(0deg) translateX(12px); }
  25% {
    transform: rotate(-180deg) translateX(12px); }
  75% {
    transform: rotate(-180deg) translateX(12px); }
  100% {
    transform: rotate(-360deg) translateX(12px); } }

div.searching {
  margin-top: 30px;
  margin-left: 5%;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white; }
  div.searching label.active {
    color: white; }
  div.searching div.srch {
    padding-left: 5%; }

div#searchHome {
  margin-top: 30px;
  margin-left: 50px;
  padding: 15px;
  position: fixed;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: white; }

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  div#searchHome {
    position: relative !important; } }
